*{
    margin:0px;
    padding: 0px;
    font-family: "Josefin Sans", sans-serif;
}

html {
    // 10/16 = 625 * 100 - calucation that we made here is to convert default value of 16px to 10px which is eqal to 1 rem.
    font-size: 62.5%;
}